# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Playwright
/playwright-report/
/playwright/.cache/
/test-results/

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
*.log.*

# Editor folders
.idea/
.vscode/

# Environment files
.env
